@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide spin button for input type number */
input.spin-button-hidden::-webkit-outer-spin-button,
input.spin-button-hidden::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-brand-200;
}
::-webkit-scrollbar-thumb {
  @apply bg-brand-600;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-brand-500;
}

.customBtn {
  @apply rounded-full relative bg-white text-black border-none outline-none px-8 py-3 font-bold;
}

.customBtn::after {
  @apply rounded-full absolute -z-10 -left-[2px] -top-[2px];
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(261.48deg, #8e64ff 11.86%, #f92672 87.19%),
    linear-gradient(276.58deg, #f92672 14.03%, #8e64ff 91.02%);
  filter: blur(5px);
}

.customBtn:hover::after {
  filter: blur(15px);
}
